@-webkit-keyframes permarotate {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes permarotate {
  0%   { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-o-keyframes permarotate {
  0%   { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@keyframes permarotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.rotator {
  -webkit-animation: permarotate 5s infinite linear; /* Safari 4+ */
  -moz-animation:    permarotate 5s infinite linear; /* Fx 5+ */
  -o-animation:      permarotate 5s infinite linear; /* Opera 12+ */
  animation:         permarotate 5s infinite linear; /* IE 10+ */
}