@font-face {
    font-family: 'europe_underground';
    src: url(font-path('europeunderground_black-webfont.eot'));
    src: url(font-path('europeunderground_black-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('europeunderground_black-webfont.woff')) format('woff'),
         url(font-path('europeunderground_black-webfont.ttf')) format('truetype'),
         url(font-path('europeunderground_black-webfont.svg') + '#europe_underground') format('svg');
    font-weight: normal;
    font-style: normal;
}