<header class="top">
	<div class="header_wrapper">
		<div class="decorative_bars">
			<div class="dbar_1"></div>
			<div class="dbar_2"></div>
			<div class="dbar_3"></div>
		</div>
		<div class="top_left_logo">
			Joshua Comeau
		</div>
		<nav>
			<ul>
				<li>
					<a class="nav_link">Home</a>
					<div class="nav_highlight"></div>
				</li>
				<li>
					<a class="nav_link">Projects</a>
					<div class="nav_highlight"></div>
				</li>
				<li>
					<a class="nav_link">Skills</a>
					<div class="nav_highlight"></div>
				</li>
				<li>
					<a class="nav_link">Blog</a>
					<div class="nav_highlight"></div>
				</li>
				<li>
					<a class="nav_link">Traffic</a>
					<div class="nav_highlight"></div>
				</li>
				<li>
					<a class="nav_link">Contact</a>
					<div class="nav_highlight"></div>
				</li>
			</ul>
		</nav>
	</div>
</header>

<section class="home_splash">
	<div class="social_media_icons">
		
	</div>

	<div class="big_text">
	</div>

	<div class="small_text">
		
	</div>
</section>

<section class="projects">
	<div class="project">
		<h2>Project 1</h2>
		<h4>4 days</h4>
		<p>blablabla fdjks jfds jfkjdf ksd fdsfds</p>

	</div>


</section>









