@import "../begin/variables_and_mixins";
@import "../begin/animations";

html, body {
	height: 100%;
}

/* HEADER STYLES */
header.top {
	z-index: 50;
	position: fixed;
	width: 100%;
	height: $nav-height;
	background: $header_bg;
	color: #FFF;
	overflow: hidden;

	.header_wrapper {
		position: relative;
		margin: 0 auto;
		max-width: $max-page-width;
		width: 100%;
		height: 100%;
	}

	.decorative_bars {
		position: absolute;
		left: -$nav-height/3;
		top: 0;
		height: $nav-height;
		width: $nav-height;
		overflow: hidden;
		@include rotate(45deg);

		& > div {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.dbar_1 {
			background: #69697B;
			top: 0;
		}

		.dbar_2 {
			background: #6587A1;
			top: 33%;
		}

		.dbar_3 {
			background: #A0A44F;
			top: 65%;
		}
	}

	.top_left_logo {
		position: absolute;
		left: 4rem;
		line-height: $nav-height;
		font-weight: 900;
		font-size: 2.5rem;
	}

	nav {
		text-align: right;
		line-height: $nav-height
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0 0.1rem;

		& > div {
		}

		.nav_link {
			position: relative;
			z-index: 3;
			display: block;
			padding: 0 1.2rem;
			cursor: pointer;
			font-size: 1.1rem;
		}
		.nav_highlight {
			z-index: 1;
			position: absolute;
			background: #222;
			width: 100%;
			height: $nav-height;
			bottom: -$nav-height;
			border-bottom: 3px solid #DE7E32;
		}
	}



}

.home_splash {
	position: relative;
	max-width: $max-page-width;
	width: 100%;
	max-height: 1080px;
	height: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	background-size: cover;
	background-position: right top;

	@include bp(phone) {
		background-image: image-url("josh_splash/josh_480_portrait.jpg");
  }
  @include bp(phablet) {
		background-image: image-url("josh_splash/josh_800_portrait.jpg");
  }
  @include bp(tablet) {
		background-image: image-url("josh_splash/josh_1890.jpg");
  }
}

.projects {
	position: relative;
	
}


