@import "../begin/variables_and_mixins";
@import "../begin/animations";

html, body {
	height: 100%;
}

/* HEADER STYLES */
header.top {
	z-index: 50;
	position: fixed;
	width: 100%;
	height: $nav-height;
	background: $header-bg;
	color: #FFF;

	.header_bars {

		.header_bar1 {
			position: absolute;
			width: 100%;
			background: #69697B;
			top: 0;
			height: 100%;
		}

		.header_bar2 {
			position: absolute;
			width: 100%;
			background: #6587A1;
			top: 10%;
			height: 90%;
		}

		.header_bar3 {
			position: absolute;
			width: 100%;
			background: #A0A44F;
			top: 55%;
			height: 45%;
		}		
	}

	.header_wrapper {
		position: relative;
		margin: 0 auto;
		max-width: $max-page-width;
		width: 100%;
		height: 100%;
		background: $header-bg
	}
	.overflow_wrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: $nav-height;
		overflow: hidden;
	}
	.decorative_bars {
		position: absolute;
		left: -$nav-height/3;
		top: 0;
		height: $nav-height;
		width: $nav-height;
		overflow: hidden;
		@include rotate(45deg);

		& > div {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.dbar_1 {
			background: #69697B;
			top: 0;
		}

		.dbar_2 {
			background: #6587A1;
			top: 33%;
		}

		.dbar_3 {
			background: #A0A44F;
			top: 65%;
		}
	}

	.top_left_logo {
		position: absolute;
		left: 4rem;
		line-height: $nav-height;
		font-weight: 900;
		font-size: 2.5rem;

		@include bp(phone) {
			font-size: 1.5rem;
		}
		@include bp(tablet) {
			font-size: 2.5rem;
		}
	}

	nav.desktop_nav {
		text-align: right;
		line-height: $nav-height;
	

		li {
			position: relative;
			display: inline-block;
			margin: 0 0.1rem;


			.nav_link {
				position: relative;
				z-index: 3;
				display: block;
				padding: 0 1.2rem;
				cursor: pointer;
				font-size: 1.1rem;
			}
			.nav_highlight {
				z-index: 1;
				position: absolute;
				background: #222;
				width: 100%;
				height: $nav-height;
				bottom: -$nav-height;
				border-bottom: 3px solid #DE7E32;
			}
		}

		@include bp(phone) {
			display: none;
	  }
	 	@include bp(laptop) {
			display: block;
	  }
	  
	}	
	nav.mobile_nav {
		position: absolute;
		top: 0;
		width: 100%;
		height: $nav-height;

		.mobile_nav_button {
			position: absolute;
			width: $nav-height * 0.7;
			height: $nav-height * 0.7;
			top: $nav-height * 0.15;
			right: $nav-height * 0.15;
			line-height: $nav-height * 0.66;
			color: #FFF;
			font-size: 2rem;
			border-radius: 5px;
			text-align: center;
			transition: 0.2s;
		}
		.passive_mobile_nav {
			border: 1px solid #444;
			background: #222;
		}

		.active_mobile_nav {
			background: #DE7E32;
			transition: 0.2s;
		}

		.mobile_nav_menu {
			position: absolute;
			z-index: 5;
			width: 100%;
			top: $nav-height;

			li {
				display: block;
				padding: 1rem;
				border-bottom: 1px solid #555;
				background: rgba(30,30,30,0.8);

			}
		}
		
		@include bp(phone) {
			display: block;
	  }
	 	@include bp(laptop) {
			display: none;
	  } 
	}
}

.home_splash {
	position: relative;
	max-width: $max-page-width;
	width: 100%;
	max-height: 1080px;
	height: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	background-size: cover;
	background-position: right top;

	@include bp(phone) {
		background-image: image-url("josh_splash/josh_480_portrait.jpg");
  }
  @include bp(phablet) {
		background-image: image-url("josh_splash/josh_800_portrait.jpg");
  }
  @include bp(tablet) {
		background-image: image-url("josh_splash/josh_1890.jpg");
  }
}

.projects {
	position: relative;

}


